<h1>System Overview</h1>
<% if @alerts.empty? %>
    <p>No alerts</p>
<% else %>
    <% @alerts.each do |alert, systems| %>
        <div class="alert <%= alert.severity %>">
            <h1><%= alert.name %></h1>
            <% if systems.empty? %>
                <p>All systems functioning normally</p>
            <% elsif systems.is_a?(String) %>
                <p><%= systems.gsub('<', '&lt;').gsub('>', '&gt;') %></p>
            <% else %>
                <ul>
                    <% systems.each do |system| %>
                        <li><a href="<%= url_prefix %>systems/<%= system.id %>"><%= system.name %></a></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    <% end %> 
<% end %>
