<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/fonts/opensans/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Overview</title>
        <script src="/js/jquery.js"></script>
    </head>
    <body>
        <header>
            <h1><%= @site_name %></h1>
            <nav>
                <ul>
                    <li>
                        <%= nav_item('/', 'Overview', false) %>
                    </li>
                    <li>
                        <%= nav_item('/systems', 'Systems', false) %>
                        <ul>
                            <% @groups.each do |group| %>
                                <%= nav_item("/groups/#{group.id}/systems", group.name) %>
                            <% end %>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin">Admin</a>
                        <% if request.path.start_with?('/admin') %>
                            <ul>
                                <%= nav_item('/admin/systems', 'Systems') %>
                                <%= nav_item('/admin/groups', 'Groups') %>
                                <%= nav_item('/admin/configs', 'Configs') %>
                                <%= nav_item('/admin/alerts', 'Alerts') %>
                                <%= nav_item('/admin/scripts', 'Scripts') %>
                            </ul>
                        <% end %>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <%= yield %>
        </main>
    </body>
</html>
