<h1>System: <%= @system.name %></h1>

<section id="meta">
    <img src="<%= @uploads['screenshot'] %>">
    <dl>
        <% unless @system.logical_name.empty? %>
            <dt>Logical Name:</dt>
            <dd><%= @system.logical_name %></dd>
        <% end %>
        <dt>Last Updated:</dt>
        <dd><%= @last_updated %></dd>
        <dt>IP:</dt>
        <dd><%= @system.ip %></dd>
        <% @str_metrics.each do |name, value| %>
            <dt><%= name %></dt>
            <dd><%= value %></dd>
        <% end %>
        <% unless @links.empty? %>
            <dt>Links:</dt>
            <dd><%= @links %></dd>
        <% end %>
    </dl>
</section>


<!-- numeric metric graphs -->
<script src="/js/dygraph-combined.js"></script>
<% @num_metrics.each do |name, metrics| %>
    <article class="graph">
        <h2><%= name.titlecase %></h2>
        <div id="metric-<%= name %>" style="width: 450px; height: 300px"></div>
        <script type="text/javascript">
            var graph = new Dygraph(
                document.getElementById("metric-<%= name %>"),
                "/systems/<%= @system.id %>/values?metrics=<%= metrics.join(',') %>",
                {
                    labelsSeparateLines: true
                }
            );
        </script>
    </article>
<% end %>


<!-- command actions -->
<h2>Actions</h2>
<p id="add-command">
    Add action:
    <select id="command-select">
        <option></option>
        <optgroup label="Commands">
            <% command_actions.each do |command| %>
                <option value="<%= command.name %>"><%= command.human_name %></option>
            <% end %>
        </optgroup>
        <optgroup label="Scripts">
            <% @scripts.each do |script| %>
                <option value="<%= script.code_name %>"><%= script.name %></option>
            <% end %>
        </optgroup>
    </select>
</p>

<!-- new commands -->
<% command_actions.each do |command| %>
    <%= erb :command_config, locals: {command: command, action: "/systems/#{@system.id}/actions"} %>
<% end %>
<% @scripts.each do |script| %>
    <form class="command" data-command="<%= script.code_name %>" style="display: none" method="POST" action="/systems/<%= @system.id %>/actions">
        <h1><%= script.name %></h1>
        <p><%= script.description %></p>
        <input type="hidden" name="script_id" value="<%= script.id %>">
        <p class="actions"><input type="submit" value="Add"></p>
    </form>
<% end %>

<!-- existing actions -->
<section id="actions">
    <% if @system.actions.count > 0 %>
        <table>
            <tr>
                <th id="command-col">Command</th>
                <th id="options-col">Options</th>
                <th id="completed-col">Completed</th>
                <th id="response-col">Response</th>
                <th id="delete-col"></th>
            </tr>
            <% @system.actions.each do |action| %>
                <tr>
                    <td><%= action.command_name %></td>
                    <td><%= action.options %></td>
                    <td><%= action.timestamp || 'PENDING' %></td>
                    <td>
                        <% if action.timestamp %>
                            <% unless action.success %>
                                <%= action.response %>
                            <% else %>
                                <% if action.file %>
                                    file...
                                <% else %>
                                    Success
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>

                    <td>
                        <form action="/systems/<%= @system.id %>/actions/<%= action.id %>" method="POST" class="delete">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <p>No pending actions</p>
    <% end %>
</section>

<script src="/js/jquery.js"></script>
<script>
    $('#command-select').change(function() {
        $('form.command').hide();
        $('form[data-command="' + $(this).val() + '"]').show();
    });

    $('form.delete').submit(function(event) {
        if (!confirm('Are you sure you want to delete this action?'))
            event.preventDefault();
    });
</script>


<!-- metric errors -->
<% if @system.collection_errors.length > 0 %>
    <section id="errors">
        <h1>Collection Errors</h1>
        <% @system.collection_errors.each do |error| %>
            <article>
                <h1><%= error.module %> - <%= Time.at(error.timestamp).ctime %></h1>
                <p><%= error.description.gsub('<', '&lt;').gsub('>', '&gt;') %></p>
            </article>
        <% end %>
        <form action="/systems/<%= @system.id %>/errors" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Clear All Errors">
        </form>
    </section>
<% end %>

